<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel='icon' href="/images/weather.png">
    <title>Weather</title>
  </head>
  <body>
    <div class='main-container'>
<div class='main-content'> {{>header}}

  <p>Enter your town/city/state or zip.</p>

  <form>
    <input placeholder="Location">
    <button>Search</button>
  </form>    
<div class="weatherContainer">
  <p id='message-1'></p>
  <p id='message-2'></p>
  </div>
</div>
   
    
    {{>footer}}
    <script src="/js/app.js"></script>
    </div>
  </body>
</html>